* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fcf8f5;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 100px;
  font-family: RedHatTect-VariableFont, sans-serif;
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
  width: 30vw;
  height: 40vh;
  margin-top: 50px;
  border-radius: 10px;
}
.cart h2 {
  color: #be4313;
  margin-left: 20px;
}
.cart-default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50%;
  margin-left: 90px;
}
.cart-default img {
  width: 70%;
  height: 50%;
}
.cart-text{
  color: #978985;
  font-weight: 600;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 100px;
  height: fit-content;
  gap: 10px;
}
h1 {
  padding-top: 5rem;
  padding-left: 20px;
  font-weight: bold;
  font-size: 2.5rem;
}
.container .dessert-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 10px;
  width: 60%;
  height: 700px;
  background: transparent;
}
.dessert-item {
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dessert-item .description{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 7px;
}
.dessert-item img {
  border-radius: 10px;
}
.dessert-item #category {
  color: #aea39f;
}
.dessert-item #price {
  color: hsl(14, 86%, 42%);
  font-size: 14px;
  font-weight: bold;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 120px;
  background-color: #fffffe;
  border-radius: 15px;
  position: absolute;
  z-index: 999;
  margin-top: 170px;
  margin-left: 35px;
  padding: 7px;
  border: 1px solid hsl(14, 25%, 72%) ;
}

.cart-btn {
  width: 20px;
  height: 20px;
}

.button-container p{
  font-weight: bold;
}